#paint {
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.settings {
    display: block;
    text-align: center;
}

.btn{
    margin-bottom: 5px;
}

h1{
    font-family: 'Cabin Sketch', cursive;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: crimson;
}

.icon {
    width: 100px;
    
}

.headshot {
    width: 300px;
    
}